USE [master]
GO
/****** Object:  Database [TravelDB]    Script Date: 3/24/2019 11:08:13 PM ******/
CREATE DATABASE [TravelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TravelDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TravelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TravelDB_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelDB]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[AdminID] [nvarchar](50) NOT NULL,
	[AdminPassword] [varchar](500) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](13) NOT NULL,
	[Sex] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Birthday] [date] NULL,
 CONSTRAINT [PK_tbl_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Booking]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[TotalMoney] [float] NULL,
	[DateCreate] [datetime] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[isDelete] [bit] NOT NULL,
	[NumOfKid] [int] NULL,
	[NumOfAdult] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Phone] [varchar](13) NULL,
	[Address] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[TourID] [varchar](50) NOT NULL,
	[NumOfBaby] [int] NULL,
	[Birthday] [datetime] NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tbl_Order] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[CityID] [int] NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[CityLocation] [nvarchar](50) NULL,
	[OtherDetails] [nvarchar](50) NULL,
	[isDelete] [bit] NOT NULL,
	[RegionID] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Convenient]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Convenient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Convenient] [nvarchar](100) NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Convenient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ConvenientHotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ConvenientHotel](
	[HotelID] [int] NOT NULL,
	[ConvenientID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_ConvenientHotel] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC,
	[ConvenientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Country]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Country](
	[CountryID] [char](3) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[Population] [int] NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[MainReligion] [nvarchar](50) NULL,
	[OtherDetails] [nvarchar](500) NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_FeedBack]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_FeedBack](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FeedBackContent] [nvarchar](max) NOT NULL,
	[isDelete] [bit] NOT NULL,
	[ReplyTo] [int] NULL,
	[Username] [varchar](50) NULL,
	[TourID] [varchar](50) NOT NULL,
	[AdminID] [nvarchar](50) NULL,
	[DateCreate] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_FeedBack] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Flight]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Flight](
	[ID] [varchar](100) NOT NULL,
	[DateGo] [datetime] NOT NULL,
	[DateBack] [datetime] NOT NULL,
	[CodeGo] [varchar](100) NOT NULL,
	[CodeBack] [varchar](100) NOT NULL,
	[DateGoArrival] [datetime] NOT NULL,
	[DateBackArrival] [datetime] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Flight] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Hotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Hotel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](13) NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[RoomNumber] [int] NULL,
	[isHot] [bit] NULL,
	[Price] [float] NULL,
	[Rating] [int] NULL,
	[isDelete] [bit] NOT NULL,
	[CityID] [int] NOT NULL,
	[isParking] [bit] NULL,
	[isCredit] [bit] NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Hotel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Image]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Image](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [varchar](50) NOT NULL,
	[Path] [varchar](100) NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Image] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_ImageHotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ImageHotel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[Path] [varchar](50) NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_ImageHotel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Metadata]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Metadata](
	[ID] [int] NOT NULL,
	[WebName] [nvarchar](100) NOT NULL,
	[Count] [int] NOT NULL,
	[Copyright] [nvarchar](max) NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Metadata] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Office]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Office](
	[ID] [int] NOT NULL,
	[IsOfficeMain] [bit] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Fax] [varchar](50) NOT NULL,
	[Tel] [varchar](13) NOT NULL,
	[isDelete] [bit] NOT NULL,
	[CityID] [int] NOT NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_Office] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Passenger]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Passenger](
	[PassengerID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [varchar](50) NULL,
	[isDelete] [bit] NOT NULL,
	[BookingID] [int] NOT NULL,
	[Type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_Passenger] PRIMARY KEY CLUSTERED 
(
	[PassengerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Region]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Region](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[isDelete] [bit] NOT NULL,
	[note] [nvarchar](max) NULL,
	[CountryID] [char](3) NOT NULL,
 CONSTRAINT [PK_tbl_Region] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Tour]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Tour](
	[ID] [varchar](50) NOT NULL,
	[TimeBegin] [datetime] NOT NULL,
	[TimeEnd] [datetime] NOT NULL,
	[PriceForKid] [float] NOT NULL,
	[PriceForBaby] [float] NOT NULL,
	[PriceForAdult] [float] NOT NULL,
	[Vehicle] [nvarchar](50) NULL,
	[TourGuideID] [int] NOT NULL,
	[SeatsRemaining] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsSale] [bit] NULL,
	[TravelTypeID] [int] NOT NULL,
	[fromPlace] [int] NOT NULL,
	[isDelete] [bit] NOT NULL,
	[isHot] [bit] NULL,
	[rating] [int] NULL,
	[FlightID] [varchar](100) NULL,
	[GroupUpPlace] [nvarchar](100) NOT NULL,
	[GroupUpTime] [datetime] NOT NULL,
	[MeetingPlace] [nvarchar](100) NULL,
	[MeetingTime] [datetime] NULL,
	[Note] [nvarchar](200) NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_Tour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TourDetail]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TourDetail](
	[ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[DateContent] [nvarchar](4000) NOT NULL,
	[isDelete] [bit] NOT NULL,
	[TourID] [varchar](50) NOT NULL,
	[CityID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_TourDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TourGuide]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TourGuide](
	[TourGuideID] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [varchar](13) NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_TourGuide] PRIMARY KEY CLUSTERED 
(
	[TourGuideID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TourHotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TourHotel](
	[HotelID] [int] NOT NULL,
	[TourID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_TourHotel_1] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC,
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Travel_Type]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Travel_Type](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_User](
	[Username] [varchar](50) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Sex] [bit] NULL,
	[isDelete] [bit] NOT NULL,
	[Birthday] [date] NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Admin] ([AdminID], [AdminPassword], [FirstName], [LastName], [PhoneNumber], [Sex], [IsDelete], [Birthday]) VALUES (N'admin', N'$2b$10$TMsGZMLX5i8npWHdKLNT8u5ClEN/K3whXxFWALcbnr/pgVTOjJjqy', N'Linh', N'Nguyen', N'123', 1, 0, CAST(N'1998-12-12' AS Date))
INSERT [dbo].[tbl_Admin] ([AdminID], [AdminPassword], [FirstName], [LastName], [PhoneNumber], [Sex], [IsDelete], [Birthday]) VALUES (N'khanh', N'$2b$10$xxoVQmIiHQ/QzIFQdvPLFuNntWNnMlWZX41rLOBB8dCknYaLm.2me', N'Cho', N'Khanh', N'213', 1, 1, CAST(N'1998-12-12' AS Date))
INSERT [dbo].[tbl_Admin] ([AdminID], [AdminPassword], [FirstName], [LastName], [PhoneNumber], [Sex], [IsDelete], [Birthday]) VALUES (N'khoi', N'$2b$10$TMsGZMLX5i8npWHdKLNT8u5ClEN/K3whXxFWALcbnr/pgVTOjJjqy', N'Khoi', N'Truong', N'1221212112', 1, 0, CAST(N'1998-12-12' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_Booking] ON 

INSERT [dbo].[tbl_Booking] ([BookingID], [TotalMoney], [DateCreate], [Username], [isDelete], [NumOfKid], [NumOfAdult], [Note], [Phone], [Address], [Name], [TourID], [NumOfBaby], [Birthday], [Email]) VALUES (1, 12450000, CAST(N'2013-12-12 00:00:00.000' AS DateTime), N'asd', 0, 1, 1, N'asd', N'0987352222', N'Hoa Binh', N'Nguyen Ha', N'1', 1, NULL, N'a')
INSERT [dbo].[tbl_Booking] ([BookingID], [TotalMoney], [DateCreate], [Username], [isDelete], [NumOfKid], [NumOfAdult], [Note], [Phone], [Address], [Name], [TourID], [NumOfBaby], [Birthday], [Email]) VALUES (2, 29000000, CAST(N'2019-03-24 14:44:53.820' AS DateTime), N'han', 0, 1, 2, NULL, N'0902665078', N'Thủ thừa', N'Lê Ngọc  Bảo Hân', N'1', 2, CAST(N'1998-12-12 00:00:00.000' AS DateTime), N'hana_misu_sad@yahoo.com')
INSERT [dbo].[tbl_Booking] ([BookingID], [TotalMoney], [DateCreate], [Username], [isDelete], [NumOfKid], [NumOfAdult], [Note], [Phone], [Address], [Name], [TourID], [NumOfBaby], [Birthday], [Email]) VALUES (3, 15980000, CAST(N'2019-03-24 22:26:59.707' AS DateTime), N'han', 0, 0, 2, N'Nhớ cho 2 xe tới rc', N'01233737178', N'Thủ thừa', N'Lê Ngọc  Bảo Hân', N'10', 0, CAST(N'1998-12-12 00:00:00.000' AS DateTime), N'hana_misu_sad@yahoo.com')
SET IDENTITY_INSERT [dbo].[tbl_Booking] OFF
INSERT [dbo].[tbl_City] ([CityID], [CityName], [CityLocation], [OtherDetails], [isDelete], [RegionID]) VALUES (1, N'Thành Phố Hà Nội', NULL, NULL, 0, 1)
INSERT [dbo].[tbl_City] ([CityID], [CityName], [CityLocation], [OtherDetails], [isDelete], [RegionID]) VALUES (2, N'Thành phố Hồ Chí Minh', NULL, NULL, 0, 3)
INSERT [dbo].[tbl_City] ([CityID], [CityName], [CityLocation], [OtherDetails], [isDelete], [RegionID]) VALUES (3, N'Tỉnh An Giang', NULL, NULL, 0, 3)
INSERT [dbo].[tbl_City] ([CityID], [CityName], [CityLocation], [OtherDetails], [isDelete], [RegionID]) VALUES (17, N'Bắc Giang
', NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[tbl_Convenient] ON 

INSERT [dbo].[tbl_Convenient] ([ID], [Convenient], [isDelete]) VALUES (1, N'<i class="fa fa-wifi" aria-hidden="true">Wifi</i>
', 0)
INSERT [dbo].[tbl_Convenient] ([ID], [Convenient], [isDelete]) VALUES (2, N'<i class="fa fa-child" aria-hidden="true">Khu vui chơi trẻ em</i', 0)
INSERT [dbo].[tbl_Convenient] ([ID], [Convenient], [isDelete]) VALUES (3, N'<i class="fa fa-car" aria-hidden="true">Xe đưa đón sân bay</i>
', 0)
INSERT [dbo].[tbl_Convenient] ([ID], [Convenient], [isDelete]) VALUES (4, N'Giáp biển', 1)
INSERT [dbo].[tbl_Convenient] ([ID], [Convenient], [isDelete]) VALUES (5, N'<i class="fa fa-bed" aria-hidden="true">Phòng gia đình</i>', 0)
INSERT [dbo].[tbl_Convenient] ([ID], [Convenient], [isDelete]) VALUES (7, N'<i class="fa fa-glass" aria-hidden="true">Quầy bar</i>
', 0)
SET IDENTITY_INSERT [dbo].[tbl_Convenient] OFF
INSERT [dbo].[tbl_ConvenientHotel] ([HotelID], [ConvenientID]) VALUES (1, 1)
INSERT [dbo].[tbl_ConvenientHotel] ([HotelID], [ConvenientID]) VALUES (1, 2)
INSERT [dbo].[tbl_ConvenientHotel] ([HotelID], [ConvenientID]) VALUES (1, 3)
INSERT [dbo].[tbl_Country] ([CountryID], [CountryName], [Population], [Language], [MainReligion], [OtherDetails], [isDelete]) VALUES (N'1  ', N'Viet Nam', 12345, N'VietNamese', N'Phật Giáo', N'Dân số khá đông', 1)
INSERT [dbo].[tbl_Country] ([CountryID], [CountryName], [Population], [Language], [MainReligion], [OtherDetails], [isDelete]) VALUES (N'2  ', N'asd', 342, N'asddsa', N'asdsdasdasadasd', N'sad', 1)
INSERT [dbo].[tbl_Country] ([CountryID], [CountryName], [Population], [Language], [MainReligion], [OtherDetails], [isDelete]) VALUES (N'3  ', N'asd', 23143, N'aw', N'as', N'as', 0)
INSERT [dbo].[tbl_Country] ([CountryID], [CountryName], [Population], [Language], [MainReligion], [OtherDetails], [isDelete]) VALUES (N'FRA', N'
France', 424000000, N'Frence', N'Freedom', N'organized religion', 0)
SET IDENTITY_INSERT [dbo].[tbl_FeedBack] ON 

INSERT [dbo].[tbl_FeedBack] ([ID], [FeedBackContent], [isDelete], [ReplyTo], [Username], [TourID], [AdminID], [DateCreate]) VALUES (1, N'Đã đi tour xong. Nói chung là tuyệt vời HDV chu đáo nhiệt tình tận tâm Tài xế và phụ xe chuyên nghiệp Đoàn thì thân thiện, vui vẻ dễ hoà đồng Tuy nhiên TV trong xe và đầu nhạc hay bị vấp nên thay đổi tv khác Nếu đi luyên tuyến thì nên ở khách sạn 3* mặc dù chênh lệch vài trăm. Bổ sung do hôm nọ chưa ghi xong', 0, NULL, N'luona', N'1', NULL, CAST(N'1997-02-08 00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_FeedBack] ([ID], [FeedBackContent], [isDelete], [ReplyTo], [Username], [TourID], [AdminID], [DateCreate]) VALUES (2, N'Kính chào Anh Phát! Rất cảm ơn Anh đã luôn quan tâm và tin tưởng sử dụng dịch vụ của Vietravel ạ. Vietravel sẽ ghi nhận ý kiến của cải thiện chất lượng dịch vụ để Quý khách ngày càng hài lòng hơn ạ. Cảm ơn Quý khách!', 0, 1, NULL, N'1', N'admin', CAST(N'1997-08-16 00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_FeedBack] ([ID], [FeedBackContent], [isDelete], [ReplyTo], [Username], [TourID], [AdminID], [DateCreate]) VALUES (3, N'Minh vua di chuyen Nha Trang Phu Yen bang xe .minh thay Viettravel to chuc tot .minh mong co nhung chuyen du lich bang xe nhu vay de nhung nguoi thich ngam canh duong di co dip di .', 0, NULL, N'han', N'1', NULL, CAST(N'2019-03-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_FeedBack] OFF
INSERT [dbo].[tbl_Flight] ([ID], [DateGo], [DateBack], [CodeGo], [CodeBack], [DateGoArrival], [DateBackArrival], [isDelete]) VALUES (N'01', CAST(N'2019-03-05 03:03:00.000' AS DateTime), CAST(N'2019-03-09 20:00:00.000' AS DateTime), N'VN605

', N'VN606', CAST(N'2019-03-05 05:10:00.000' AS DateTime), CAST(N'2019-03-09 22:05:00.000' AS DateTime), 0)
INSERT [dbo].[tbl_Flight] ([ID], [DateGo], [DateBack], [CodeGo], [CodeBack], [DateGoArrival], [DateBackArrival], [isDelete]) VALUES (N'02', CAST(N'2000-03-03 03:03:00.000' AS DateTime), CAST(N'2000-03-13 00:00:00.000' AS DateTime), N'asd', N'dsa', CAST(N'2019-03-10 04:30:00.000' AS DateTime), CAST(N'2019-03-11 05:30:00.000' AS DateTime), 0)
INSERT [dbo].[tbl_Flight] ([ID], [DateGo], [DateBack], [CodeGo], [CodeBack], [DateGoArrival], [DateBackArrival], [isDelete]) VALUES (N'03', CAST(N'2000-03-03 03:03:00.000' AS DateTime), CAST(N'2000-03-13 00:00:00.000' AS DateTime), N'qwe', N'eewq', CAST(N'2019-03-03 04:30:00.000' AS DateTime), CAST(N'2019-03-10 04:30:00.000' AS DateTime), 0)
INSERT [dbo].[tbl_Flight] ([ID], [DateGo], [DateBack], [CodeGo], [CodeBack], [DateGoArrival], [DateBackArrival], [isDelete]) VALUES (N'04', CAST(N'2000-03-03 03:03:00.000' AS DateTime), CAST(N'2000-03-13 00:00:00.000' AS DateTime), N'uyt', N'tyu', CAST(N'2019-03-03 04:30:00.000' AS DateTime), CAST(N'2019-03-10 04:30:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tbl_Hotel] ON 

INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (1, N'Mường Thanh', N'324786846', N'123 Quang Trung', N'muongthanh@gmail.com', N'Hetel Này của Mai Linh Chủ Tịch Và Khôi Bảo Vệ', 201, 1, 100000, 7, 0, 2, 1, 1, N'Premium')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (2, N'Sofitel Saigon Plaza', N'0969668834', N'146 Nguyễn Huệ', N'Sofitel Saigon Plaza@gmail.com', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 302, 1, 100000, 8, 0, 2, 1, 1, N'Diamon')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (3, N'Little Hoi An', N'0969668834', N'147 Đường 3/2', N'Little Hoi An@ad.asd', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 123, 1, 200000, 5, 0, 4, 1, 1, N'Nomal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (4, N'
Aira Boutique ', N'0969668834', N'779 Tô Ký', N'asd@ad.asd', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 123, 1, 40000, 8, 0, 16, 1, 1, N'luxury')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (9, N'
Victoria ', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'diamond@gmail.com', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 12, 1, 22000, 9, 0, 3, 1, 1, N'Nomal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (11, N'The Myst Dong Khoi', N'0969555834', N'457 Xô Viết Nghệ Tỉnh', N'
Victoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 234, 1, 70000, 1, 0, 4, 1, 1, N'Diamon')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (38, N'Vinpearl Hotel ', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'Victoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 17, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (45, N'The Myst Dong Khoi', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'aVictoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 18, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (50, N'The Myst Dong Khoi', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'aVictoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 19, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (51, N'Vinpearl Hotel Hue.', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'aVictoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 20, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (52, N'The Myst Dong Khoi', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'aVictoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 5, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (53, N'Eden Hotel Danang.', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'Victoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 5, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (54, N'Allegro Hoi An ', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'aVictoria@asd.á', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 5, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (55, N'The Myst Dong Khoi', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'Little Hoi An@ad.asd', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 5, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (56, N'Allegro Hoi An ', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'aLittle Hoi An@ad.asd', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 5, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (57, N'The Myst Dong Khoi', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'Little Hoi An@ad.asd', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 5, 1, 1, N'Normal')
INSERT [dbo].[tbl_Hotel] ([ID], [Name], [PhoneNumber], [Address], [Email], [Description], [RoomNumber], [isHot], [Price], [Rating], [isDelete], [CityID], [isParking], [isCredit], [Type]) VALUES (58, N'Silk Path Grand Resort', N'0969668834', N'457 Xô Viết Nghệ Tỉnh', N'Little Hoi An@ad.asd', N'Các phòng ngh? máy l?nh t?i dây ng?p tràn ánh sáng t? nhiên qua c?a s? thoáng r?ng và du?c trang b? TV màn hình ph?ng cho khách gi?i trí. Các phòng ngh? d?y d? ti?n nghi có tông màu trung tính, nh? nhàng v?i d? n?i th?t c? di?n. M?t s? phòng còn có khu v?c ti?p khách. ?m dun nu?c, dép di trong phòng và máy s?y tóc cung du?c cung c?p d? t?o thu?n ti?n cho du khách. Các phòng t?m riêng du?c trang b? b?n t?m, áo choàng t?m cung nhu d? v? sinh cá nhân mi?n phí.

The Myst Dong Khoi cung c?p Wi-Fi mi?n phí trong toàn b? khuôn viên. Ð?i ngu nhân viên giao ti?p b?ng 2 th? ti?ng s?n sàng tr? giúp quý khách 24 gi?/ngày ? qu?y l? tân. Khách s?n này còn có spa, trung tâm th? d?c và bàn d?t tour.

The Myst Dong Khoi n?m trong bán kính 350 m t? Nhà Hát Thành ph? và 550 m t? Tr? s? ?y ban Nhân dân Thành ph? H? Chí Minh. Sân bay Qu?c t? Tân Son Nh?t cách dó 8 km.

Qu?n 1 là l?a ch?n tuy?t v?i cho du khách thích ch?, b?o tàng và mua s?m.

Ðây là khu v?c ? TP. Hô` Chi´ Minh mà khách yêu thích, theo các dánh giá d?c l?p.

Ch? ngh? này là m?t trong nh?ng v? trí du?c dánh giá t?t nh?t ? TP. Hô` Chi´ Minh! Khách thích noi dây hon so v?i nh?ng ch? ngh? khác trong khu v?c.

Các c?p dôi d?c bi?t thích d?a di?m này — h? cho di?m 9,5 cho k? ngh? dành cho 2 ngu?i.

Ch? ngh? này cung du?c dánh giá là dáng giá ti?n nh?t ? TP. Hô` Chi´ Minh! Khách s? ti?t ki?m du?c nhi?u hon so v?i ngh? t?i nh?ng ch? ngh? khác ? thành ph? này.', 201, 1, 200000, 3, 0, 5, 1, 1, N'Normal')
SET IDENTITY_INSERT [dbo].[tbl_Hotel] OFF
SET IDENTITY_INSERT [dbo].[tbl_Image] ON 

INSERT [dbo].[tbl_Image] ([ID], [TourID], [Path], [isDelete]) VALUES (1, N'1', N'danang.jpg', 0)
INSERT [dbo].[tbl_Image] ([ID], [TourID], [Path], [isDelete]) VALUES (2, N'1', N'vinhhy.jpg', 0)
INSERT [dbo].[tbl_Image] ([ID], [TourID], [Path], [isDelete]) VALUES (3, N'2', N'vinhhy.jpg', 0)
SET IDENTITY_INSERT [dbo].[tbl_Image] OFF
SET IDENTITY_INSERT [dbo].[tbl_ImageHotel] ON 

INSERT [dbo].[tbl_ImageHotel] ([ID], [HotelID], [Path], [isDelete]) VALUES (1, 1, N'hotel01.jpg', 0)
INSERT [dbo].[tbl_ImageHotel] ([ID], [HotelID], [Path], [isDelete]) VALUES (2, 2, N'hotel02.jpg', 0)
INSERT [dbo].[tbl_ImageHotel] ([ID], [HotelID], [Path], [isDelete]) VALUES (3, 3, N'hotel03.jpg', 0)
SET IDENTITY_INSERT [dbo].[tbl_ImageHotel] OFF
INSERT [dbo].[tbl_Metadata] ([ID], [WebName], [Count], [Copyright], [isDelete]) VALUES (1, N'Luona Travel', 100, N'2019 - Bao Thien', 0)
INSERT [dbo].[tbl_Metadata] ([ID], [WebName], [Count], [Copyright], [isDelete]) VALUES (2, N'Admin ', 1, N'2019 - Mai Linh', 0)
INSERT [dbo].[tbl_Office] ([ID], [IsOfficeMain], [Name], [Address], [Fax], [Tel], [isDelete], [CityID], [Email]) VALUES (1, 1, N'Văn phòng chính', N'Phường Thanh Xuân', N'0802', N'0983454334', 0, 1, N'benfica@gmail.com')
INSERT [dbo].[tbl_Office] ([ID], [IsOfficeMain], [Name], [Address], [Fax], [Tel], [isDelete], [CityID], [Email]) VALUES (2, 1, N'Trụ sở 2', N'195/2 Hòa hưng', N'1608', N'0986756534', 0, 2, N'louna@gmail.com')
INSERT [dbo].[tbl_Office] ([ID], [IsOfficeMain], [Name], [Address], [Fax], [Tel], [isDelete], [CityID], [Email]) VALUES (3, 0, N'Văn phòng Q12', N'Công viên phần mêm Quang Trung', N'1605', N'0986754334', 0, 3, N'travel@gmail.com')
SET IDENTITY_INSERT [dbo].[tbl_Passenger] ON 

INSERT [dbo].[tbl_Passenger] ([PassengerID], [Fullname], [Birthday], [Gender], [Phone], [isDelete], [BookingID], [Type]) VALUES (1, N'Long Đờm', CAST(N'2007-02-28' AS Date), 0, NULL, 0, 2, N'0')
INSERT [dbo].[tbl_Passenger] ([PassengerID], [Fullname], [Birthday], [Gender], [Phone], [isDelete], [BookingID], [Type]) VALUES (2, N'Long K', CAST(N'1998-03-06' AS Date), 1, NULL, 0, 2, N'0')
INSERT [dbo].[tbl_Passenger] ([PassengerID], [Fullname], [Birthday], [Gender], [Phone], [isDelete], [BookingID], [Type]) VALUES (3, N'Long Hổ', CAST(N'2008-03-07' AS Date), 0, NULL, 0, 2, N'1')
SET IDENTITY_INSERT [dbo].[tbl_Passenger] OFF
INSERT [dbo].[tbl_Region] ([ID], [Name], [isDelete], [note], [CountryID]) VALUES (1, N'Miền Bắc', 0, N'ád', N'VNM')
INSERT [dbo].[tbl_Region] ([ID], [Name], [isDelete], [note], [CountryID]) VALUES (2, N'Miền Trung', 0, NULL, N'VNM')
INSERT [dbo].[tbl_Region] ([ID], [Name], [isDelete], [note], [CountryID]) VALUES (3, N'Miền Nam', 0, NULL, N'VNM')
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (1, CAST(N'2019-05-03' AS Date), N'TP. HỒ CHÍ MINH - BANGKOK (Ăn tối)

', N'<div>Hướng dẫn viên <a href="https://media.vietravel.net" target="_blank">Vietravel</a> đón Quý khách tại cổng hẹn ở sân bay Tân Sơn Nhất, đón chuyến bay đi <a href="https://travel.com.vn/chau-a/tour-bangkok.aspx" target="_blank">Bangkok</a>. Đến sân bay Suvarnabhumi (nếu bay Vietnam Airlines,&nbsp;VietJet, Jet Star) hoặc sân bay Don Muong (nếu bay Nok Air), xe và hướng dẫn viên địa phương đón và đưa Quý khách về khách sạn nghỉ ngơi. Sau khi dùng bữa tối, Quý khách sẽ thưởng thức <em><strong>chương trình biểu diễn nghệ thuật Nanta Show</strong></em> - Trong vở diễn, các diễn viên trẻ sử dụng các dụng cụ nấu bếp kết hợp với cốt truyện sinh động để giới thiệu sự khéo léo của các nghệ sĩ, cũng như các món ăn tiêu biểu của Hàn Quốc, đây là Show diễn nổi tiếng tại Hàn Quốc nay đã có mặt tại <a href="https://travel.com.vn/chau-a/tour-thai-lan.aspx" target="_blank">Thái Lan</a>. Sau buổi diễn, Quý khách tự do khám phá Bangkok về đêm hoặc trở về khách sạn nghỉ ngơi.</div>
<div>&nbsp;</div><div><em>Chương trình Nanta show được trình diễn vào các tối thứ 2 – chủ nhật. Riêng tối thứ hai đầu tháng sẽ không trình diễn, chương trình sẽ được thay thế bằng một điểm tham quan khác.</em></div>', 0, N'1', 2)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (3, CAST(N'2019-07-03' AS Date), N'PATTAYA								           (Ăn ba bữa)', N'<div style="text-align: justify;">
                                                Ăn sáng tại khách sạn. Quý khách lên tàu cao tốc tham quan<em><strong> Đảo San Hô </strong></em>- Hòn đảo lớn nhất <a href="https://travel.com.vn/chau-a/tour-pattaya.aspx" target="_blank">Pattaya</a> với diện tích khoảng 4 km2 gồm các bãi biển sạch và đẹp, tại đây Quý khách có thể tự do tắm biển hoặc tham gia các hoạt động như lặn biển, lướt ván buồm, trượt ván, nhảy dù, bơi lội, snorkeling (chi phí tự túc). Ăn trưa, Đoàn tiếp tục tham quan <em><strong>Trung Tâm Vàng Bạc Đá Quý Hoàng Gia </strong></em>và<em><strong> Trung Tâm Thuộc Da</strong></em>. Tiếp tục tham quan <em><strong>Bảo Tàng Tranh 3D </strong></em>- Hàng trăm không gian 3D kỳ ảo từ thời nguyên thủy tới hiện đại cuốn hút du khách, được xem là bảo tàng 3D đầu tiên và lớn nhất ở <a href="https://travel.com.vn/chau-a/tour-thai-lan.aspx" target="_blank">Thái Lan</a> với diện tích hơn 5.800 m2 cùng hơn 200 hình họa, với nhiều chủ đề, nội dung. Sau khi dùng bữa tối, Quý khách thưởng thức chương trình ca múa nhạc <em><strong>Colosseum</strong></em> do các diễn viên nam đã giải phẫu thành nữ biểu diễn. Quý khách trở về khách sạn nghỉ ngơi.
                                            </div>
                                            <div style="text-align: justify;">
                                                &nbsp;
                                            </div>
                                            <div style="text-align: justify;">
                                                <em>Để đảm bảo an toàn cho du khách, trong những ngày thời tiết xấu đoàn không thể ra đảo được, chương trình Đảo San Hô sẽ đổi sang tham quan Chợ nổi Bốn Miền Pattaya.</em>
                                            </div>', 0, N'1', 4)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (4, CAST(N'2019-08-03' AS Date), N'PATTAYA - BANGKOK						           (Ăn ba bữa)', N'
                                        <div style="text-align: justify;">
                                            Ăn sáng tại khách sạn và làm thủ tục trả phòng. Tạm biệt <a href="https://travel.com.vn/chau-a/tour-pattaya.aspx" target="_blank">Pattaya</a>, Đoàn khởi hành về <a href="https://travel.com.vn/chau-a/tour-bangkok.aspx" target="_blank">Bangkok</a>, trên đường Quý khách tham quan và chiêm bái <em><strong>Trân Bảo Phật Sơn (Khao Chee Chan) </strong></em>- được khắc bằng tia laze lên vách núi sau đó khắc bằng vàng 24k. Tượng Phật cao 130 mét, chiều rộng 70 mét, được xây dựng vào năm 1996, tổng chí phí xây dựng 161,7 triệu Baht (tiền <a href="https://travel.com.vn/chau-a/tour-thai-lan.aspx" target="_blank">Thái Lan</a>), được sự chăm sóc và bảo quản của quân đội Hoàng Gia, Quý khách sẽ không khỏi bị vẻ đẹp giản đơn nơi đây cuốn hút, một khung cảnh yên tịnh, thanh bình, khác xa trung tâm Pattaya ồn ào, tấp nập. Quý khách tham quan <em><strong>Trại Rắn</strong></em> xem màn trình diễn với các loài rắn độc và cách lấy nọc rắn. Đến Bangkok, Quý khách thưởng thức <em><strong>Buffet trưa tại Baiyoke Sky (tòa nhà 84 tầng)</strong></em>. Tiếp tục, Quý khách tham quan <em><strong>Bảo tàng sáp Madame Tussauds Bangkok </strong></em>là bảo tàng sáp đầu tiên của Đông Nam Á, và là bảo tàng thứ 10 thuộc hệ thống Madame Tussauds trên toàn thế giới, bên cạnh London (Anh), Amsterdam (Hà Lan), Berlin (Đức), Washington DC, New York, Las Vegas (Mỹ), Hồng Kông, Thượng Hải (Trung Quốc)...Tọa lạc tại tầng 6 trung tâm thương mại sầm uất nhất thuộc thủ đô Bangkok – Siam Discovery. Đến với Bảo tàng Sáp bạn không những được chiêm ngưỡng những chân dung tượng sáp gần như giống hệt các nhân vật nổi tiếng trên khắp thế giới, mà còn được tự do tạo dáng chụp ảnh với những nhân vật bạn yêu thích. Buổi chiều, Quý khách tự do tham quan mua sắm tại trung tâm thương mại lớn. <strong>Ăn tối bằng coupon tại trung tâm Siam Paragon</strong>. Trở về khách sạn nghỉ ngơi.



                                        </div>', 0, N'1', 16)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (5, CAST(N'2019-09-03' AS Date), N'BANGKOK - TP.HỒ CHÍ MINH 					              (Ăn sáng)', N'   <div style="text-align: justify;">
                                            Sau khi ăn sáng tại khách sạn và làm thủ tục trả phòng, Quý khách khởi hành đi tham quan <em><strong>Chùa Phật Vàng</strong></em> với tượng Phật ngồi bằng vàng lớn nhất thế giới cao 5 mét và nặng 5,5 tấn, được tin là đã 700 đến 800 tuổi. Quý khách&nbsp;tự do mua sắm tại Big C Bangna cho đến giờ ra phi trường đáp chuyến bay về nước (chỉ áp dụng cho các chuyến bay về sau 18h00). Về đến sân bay Tân Sơn Nhất, kết thúc chuyến tham quan. Trưởng đoàn chia tay và tạm biệt Quý khách.
                                        </div><div style="text-align: justify;">
                                            <strong><em>Hàng không Vietjet, Air Asia, Jet Star,&nbsp;Nok Air, Air Asia&nbsp;không bao gồm bữa ăn nhẹ trên chuyến bay khứ hồi</em></strong>
                                        </div><div style="text-align: justify;">
                                            &nbsp;*** Từ 15/01/2019, với các chuyến bay về tối sau 18:00, xe sẽ đưa Quý khách đi mua sắm tại <strong>Trung Tâm Mua sắm Icon Siam </strong>- trung tâm thương mại lớn nhất và là niềm tự hào mới nhất của <a href="https://travel.com.vn/chau-a/tour-thai-lan.aspx" target="_blank">Thái Lan</a> nằm bên dòng sông Chao Phraya. Công trình rộng 750.000m2, gồm các cửa hàng bán lẻ, khu giải trí, nhà hàng và căn hộ cao cấp lớn nhất Thái Lan hiện nay.



                                        </div>', 0, N'1', 3)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (6, CAST(N'2019-03-02' AS Date), N'Game', N'aa', 0, N'4', 2)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (7, CAST(N'2019-03-04' AS Date), N'aa', N'aa', 0, N'4', 3)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (10, CAST(N'2019-03-27' AS Date), N'TP. HỒ CHÍ MINH - NỘI BÀI (HÀ NỘI) - LÀO CAI – SAPA (Ăn trưa, chiều)', N'		<div style="text-align: justify;">
			Quý khách tập trung tại sân bay Tân Sơn Nhất - ga đi trong nước. Hướng dẫn viên làm thủ tục cho đoàn đáp chuyến bay đi <a href="https://travel.com.vn/mien-bac/tour-ha-noi.aspx" target="_blank">Hà Nội</a>.</div>
		<div style="text-align: justify;">
			Xe <a href="https://media.vietravel.net" target="_blank">Vietravel</a> đón đoàn tại sân bay Nội Bài, khởi hành đi Sa Pa theo <strong>cung đường cao tốc hiện đại và dài nhất Việt Nam</strong>.</div>
		<div style="text-align: justify;">
			Đến <a href="https://travel.com.vn/mien-bac/tour-sapa.aspx" target="_blank">Sapa</a>, nhận phòng nghỉ ngơi. Buổi chiều quý khách thăm&nbsp;</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Bản Cát Cát&nbsp;</strong>đẹp như một bức tranh giữa vùng phố cổ Sapa, nơi đây thu hút du khách bởi cầu treo, thác nước, guồng nước và những mảng màu hoa mê hoặc du khách khi lạc bước đến đây.</div>
		<div style="text-align: justify;">
			-<strong><span class="Apple-tab-span" style="white-space:pre"> </span>Thăm những nếp nhà của người Mông&nbsp;</strong>trong bản, du khách sẽ không khỏi ngỡ ngàng trước vẻ đẹp bình dị, mộc mạc.&nbsp;</div>
		<div style="text-align: justify;">
			Buổi tối Quý khách dạo phố, ngắm<strong> nhà thờ Đá Sapa</strong>, tự do thưởng thức đặc sản vùng cao như: thịt lợn cắp nách nướng, trứng nướng, rượu táo mèo, giao lưu với người dân tộc vùng cao.&nbsp;</div>
		<div style="text-align: justify;">
			Nghỉ đêm tại Sapa.</div>', 0, N'10', 2)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (11, CAST(N'2019-03-28' AS Date), N'SA PA – FANSIPAN HÙNG VĨ - LÀO CAI (Ăn sáng, trưa, chiều)', N'    <div style="text-align: justify;">
        <div>
            Trả phòng khách sạn, xe đưa đoàn ra ga <a href="https://travel.com.vn/mien-bac/tour-sapa.aspx" target="_blank">Sapa</a>, Quý khách trải nghiệm đến<strong>&nbsp;khu <a href="https://travel.com.vn/" target="_blank">du lịch</a> Fansipan Legend</strong>&nbsp;bằng&nbsp;<strong>Tàu hỏa leo núi Mường Hoa</strong>&nbsp;hiện đại nhất Việt Nam với tổng chiều dài gần 2000m, thưởng ngoạn bức tranh phong cảnh đầy màu sắc của cánh rừng nguyên sinh, thung lũng Mường Hoa.
        </div>
        <div>
            -<span style="white-space: pre;"> </span>Chinh phục đỉnh núi Fansipan với độ cao 3.143m hùng vĩ bằng cáp treo (chi phí tự túc).&nbsp;
        </div>
        <div>
            -<span style="white-space: pre;"> </span>Lễ Phật tại&nbsp;<strong>chùa Trình</strong>&nbsp;hay cầu phúc lộc, bình an cho gia đình tại&nbsp;<strong>Bích Vân Thiền Tự</strong>&nbsp;trong hệ thống cảnh quan tâm linh trên đỉnh Fansipan.&nbsp;
        </div>
    </div>
    <div>
        Sau đó, xe đưa Quý khách tham quan đỉnh&nbsp;<strong>đèo Ô Quy Hồ</strong>&nbsp;một trong “Tứ đại đỉnh đèo” phía Bắc.&nbsp;
    </div>
    <div>
        Buổi chiều tham quan:
    </div>
    <div>
        -<span class="Apple-tab-span" style="white-space: pre;"> </span><strong>Núi Hàm Rồng</strong>&nbsp;thăm vườn Lan khoe sắc, vườn hoa Trung Tâm, ngắm Núi Phanxipăng hùng vĩ, Cổng Trời, Đầu Rồng Thạch Lâm, Sân Mây. &nbsp;
    </div>
    <div>
        Sau đó khởi hành về <a href="https://travel.com.vn/mien-bac/tour-lao-cai.aspx" target="_blank">Lào Cai</a>, nhận phòng khách sạn. Tự do khám phá thành phố về đêm.&nbsp;
    </div>
    <div>
        Nghỉ đêm tại Lào Cai.&nbsp;
    </div>', 0, N'10', 21)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (12, CAST(N'2019-03-29' AS Date), N'LÀO CAI - HÀ NỘI (Ăn sáng, trưa, chiều)', N'    <div style="text-align: justify;">
        Trả phòng khách sạn, quý khách tham quan&nbsp;
    </div>
    <div style="text-align: justify;">
        -<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Cửa khẩu biên giới Việt - Trung “<a href="https://travel.com.vn/mien-bac/tour-lao-cai.aspx" target="_blank">Lào Cai</a>- Hà Khẩu”</strong>
    </div>
    <div style="text-align: justify;">
        -<span class="Apple-tab-span" style="white-space:pre"> </span>Mua sắm tại <strong>chợ Cốc Lếu </strong>- Trung tâm thương mại lớn nhất, của thành phố nói riêng và Tỉnh Lào Cai nói chung. Nơi đây bày bán đa dạng đủ các loại mặt hàng từ thủ công mỹ nghệ, tranh nghệ thuật phong cảnh đến quần áo…sẽ là một điểm mua sắm tuyệt vời với du khách.
    </div>
    <div style="text-align: justify;">
        Theo cung đường cao tốc trở về <a href="https://travel.com.vn/mien-bac/tour-ha-noi.aspx" target="_blank">Hà Nội</a>, nhận phòng nghỉ ngơi. Xe đưa Quý khách dạo quanh&nbsp;
    </div>
    <div style="text-align: justify;">
        -<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Hồ Hoàn Kiếm</strong> ngắm Tháp Rùa, Đền Ngọc Sơn, Cầu Thê Húc.&nbsp;
    </div>
    <div style="text-align: justify;">
        Sau bữa ăn chiều, Quý Khách tự do khám phá Hà Nội hoặc lựa chọn chương trình thư giãn (chi phí tự túc) :
    </div>
    <div style="text-align: justify;">
        -<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Trải nghiệm massage bấm huyệt kiểu Việt Nam truyền thống tại Spa Sen Garde</strong>n, ít nhất 75 phút gồm các công đoạn tắm trắng, massage, bấm huyệt, sau đó dùng bữa nhẹ buffet mini gồm 10 món nhẹ + nước uống, chè.
    </div>
    <div style="text-align: justify;">
        &nbsp;Nghỉ đêm tại Hà Nội.&nbsp;
    </div>
', 0, N'10', 1)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (13, CAST(N'2019-03-30' AS Date), N'HÀ NỘI - YÊN TỬ - HẠ LONG (Ăn sáng, trưa, chiều)', N'<div style="text-align: justify;">
			Sau khi ăn sáng, xe đưa Quý khách tham quan</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Lăng Hồ Chủ Tịch</strong> – tìm hiểu về cuộc đời và sự nghiệp của vị cha già kính yêu của dân tộc (không viếng vào thứ 2, thứ 6 hàng tuần), Nhà Sàn Bác Hồ, Bảo Tàng Hồ Chí Minh, Chùa Một Cột.</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Văn Miếu </strong>- Nơi thờ Khổng Tử và các bậc hiền triết của Nho Giáo, <strong>Quốc Tử Giám </strong>- Trường đại học đầu tiên của Việt Nam, tìm về cội nguồn lịch sử của các vị Nho học.</div>
		<div style="text-align: justify;">
			Tiếp tục hành trình đi <a href="https://travel.com.vn/mien-bac/tour-ha-long.aspx" target="_blank">Hạ Long</a>, trên đường đi Quý khách ghé tham quan</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Núi <a href="https://travel.com.vn/mien-bac/tour-yen-tu.aspx" target="_blank">Yên Tử</a> </strong>- Thắng cảnh thiên nhiên còn lưu giữ nhiều di tích lịch sử với mệnh danh “Đất tổ Phật giáo Việt Nam”.&nbsp;</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Chùa Hoa Yên -</strong> Ngôi chùa to và đẹp, nằm trên lưng chừng núi ở độ cao 516m, thăm <strong>Tháp Tổ </strong>(chi phí cáp treo tự túc).&nbsp;</div>
		<div style="text-align: justify;">
			Chiều về Hạ Long nhận phòng. Buổi tối xe đưa Quý khách ngắm cầu Bãi Cháy và thành phố Hạ Long về đêm.</div>
		<div style="text-align: justify;">
			Nghỉ đêm tại Hạ Long.&nbsp;</div>
		<div style="text-align: justify;">
			Một số lựa chọn dành cho Quý khách muốn khám phá thêm Hạ Long:&nbsp;</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Lựa chọn 1: </strong>Tham quan <strong>Sun World Ha Long Park</strong> trên Núi Ba Đèo bằng cáp treo Nữ Hoàng), trải nghiệm vòng quay mặt trời, tham quan vườn Nhật, khu trưng bày tượng sáp, khu vui chơi trẻ em.</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Lựa chọn 2:</strong> Xem<strong> Múa rối nước&nbsp;</strong><strong>Hoa Sen</strong><strong>&nbsp;Hạ Long</strong> – Đây là một loại hình nghệ thuật sân khấu dân gian truyền thống độc đáo, một sáng tạo đặc biệt của người Việt, chỉ có duy nhất ở Việt Nam, qua những tiết mục múa rối, khán giả sẽ được dẫn dắt vào một thế giới tưởng tượng phong phú, tìm hiểu về truyền thuyết và sự ra đời tên gọi Vịnh Hạ Long.</div>
	', 0, N'10', 22)
INSERT [dbo].[tbl_TourDetail] ([ID], [Date], [Title], [DateContent], [isDelete], [TourID], [CityID]) VALUES (14, CAST(N'2019-03-31' AS Date), N'
HẠ LONG - (NỘI BÀI) HÀ NỘI – TPHCM (Ăn sáng, trưa)
', N'
	
		<div style="text-align: justify;">
			Quý khách ra bến tàu, xuống tàu du ngoạn</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span><strong>Vịnh <a href="https://travel.com.vn/mien-bac/tour-ha-long.aspx" target="_blank">Hạ Long</a></strong> - Thắng cảnh thiên nhiên tuyệt đẹp và vô cùng sống động, được UNESCO công nhận là di sản thiên nhiên Thế giới năm 1994.&nbsp;</div>
		<div style="text-align: justify;">
			-<strong><span class="Apple-tab-span" style="white-space:pre"> </span>Động Thiên Cung </strong>là một trong những động đẹp nhất ở Hạ Long. Vẻ đẹp nguy nga và lộng lẫy bởi những lớp thạch nhũ và những luồng ánh sáng lung linh.</div>
		<div style="text-align: justify;">
			-<span class="Apple-tab-span" style="white-space:pre"> </span>Từ trên tàu ngắm nhìn các hòn đảo lớn nhỏ trong Vịnh Hạ Long: <strong>Hòn Gà Chọi, Hòn Lư Hương</strong>.&nbsp;</div>
		<div style="text-align: justify;">
			Trở về <a href="https://travel.com.vn/mien-bac/tour-ha-noi.aspx" target="_blank">Hà Nội</a> xe đưa Quý khách ra sân bay Nội Bài đáp chuyến bay về Tp.HCM. Chia tay Quý khách và kết thúc chương trình <a href="https://travel.com.vn/" target="_blank">du lịch</a> tại sân bay Tân Sơn Nhất.</div>', 0, N'10', 1)
INSERT [dbo].[tbl_TourGuide] ([TourGuideID], [LastName], [FirstName], [Address], [Phone], [isDelete]) VALUES (1, N'Nguyen', N'Linh', N'Hà Nội', N'0978465323', 0)
INSERT [dbo].[tbl_TourGuide] ([TourGuideID], [LastName], [FirstName], [Address], [Phone], [isDelete]) VALUES (2, N'Nguyen', N'Thien', N'HCM', N'0978465323', 0)
INSERT [dbo].[tbl_TourGuide] ([TourGuideID], [LastName], [FirstName], [Address], [Phone], [isDelete]) VALUES (3, N'Nguyen', N'Quan', N'HCM', N'0978465323', 0)
INSERT [dbo].[tbl_TourHotel] ([HotelID], [TourID]) VALUES (1, N'1')
INSERT [dbo].[tbl_TourHotel] ([HotelID], [TourID]) VALUES (1, N'10')
INSERT [dbo].[tbl_TourHotel] ([HotelID], [TourID]) VALUES (1, N'2')
INSERT [dbo].[tbl_Travel_Type] ([ID], [Name], [isDelete]) VALUES (1, N'Giá tốt', 0)
INSERT [dbo].[tbl_Travel_Type] ([ID], [Name], [isDelete]) VALUES (2, N'Tiết Kiệm', 0)
INSERT [dbo].[tbl_Travel_Type] ([ID], [Name], [isDelete]) VALUES (3, N'Cao Cấp', 0)
INSERT [dbo].[tbl_User] ([Username], [Password], [FirstName], [LastName], [PhoneNumber], [Address], [Email], [Sex], [isDelete], [Birthday]) VALUES (N'asd', N'123', N'Khanh', N'Kieu', N'0333577999', N'Thủ thừa', N'asdasd@adsa', 1, 0, CAST(N'1996-12-12' AS Date))
INSERT [dbo].[tbl_User] ([Username], [Password], [FirstName], [LastName], [PhoneNumber], [Address], [Email], [Sex], [isDelete], [Birthday]) VALUES (N'dsa', N'12', N'Kiem', N'Trong', N'0333577999', N'Thủ thừa', N'benficacronaldo@gmail.com', 1, 0, CAST(N'1996-12-12' AS Date))
INSERT [dbo].[tbl_User] ([Username], [Password], [FirstName], [LastName], [PhoneNumber], [Address], [Email], [Sex], [isDelete], [Birthday]) VALUES (N'han', N'123', N'Bảo Hân', N'Lê Ngọc', N'01233737178', N'Thủ thừa', N'hana_misu_sad@yahoo.com', 1, 0, CAST(N'1998-12-12' AS Date))
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Booking_tbl_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[tbl_Tour] ([ID])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Booking_tbl_Tour]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_tbl_User] FOREIGN KEY([Username])
REFERENCES [dbo].[tbl_User] ([Username])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Order_tbl_User]
GO
ALTER TABLE [dbo].[tbl_City]  WITH CHECK ADD  CONSTRAINT [FK_tbl_City_tbl_Region] FOREIGN KEY([RegionID])
REFERENCES [dbo].[tbl_Region] ([ID])
GO
ALTER TABLE [dbo].[tbl_City] CHECK CONSTRAINT [FK_tbl_City_tbl_Region]
GO
ALTER TABLE [dbo].[tbl_ConvenientHotel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ConvenientHotel_tbl_Convenient] FOREIGN KEY([ConvenientID])
REFERENCES [dbo].[tbl_Convenient] ([ID])
GO
ALTER TABLE [dbo].[tbl_ConvenientHotel] CHECK CONSTRAINT [FK_tbl_ConvenientHotel_tbl_Convenient]
GO
ALTER TABLE [dbo].[tbl_ConvenientHotel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ConvenientHotel_tbl_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[tbl_Hotel] ([ID])
GO
ALTER TABLE [dbo].[tbl_ConvenientHotel] CHECK CONSTRAINT [FK_tbl_ConvenientHotel_tbl_Hotel]
GO
ALTER TABLE [dbo].[tbl_FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_tbl_FeedBack_tbl_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[tbl_Admin] ([AdminID])
GO
ALTER TABLE [dbo].[tbl_FeedBack] CHECK CONSTRAINT [FK_tbl_FeedBack_tbl_Admin]
GO
ALTER TABLE [dbo].[tbl_FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_tbl_FeedBack_tbl_FeedBack1] FOREIGN KEY([ReplyTo])
REFERENCES [dbo].[tbl_FeedBack] ([ID])
GO
ALTER TABLE [dbo].[tbl_FeedBack] CHECK CONSTRAINT [FK_tbl_FeedBack_tbl_FeedBack1]
GO
ALTER TABLE [dbo].[tbl_FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_tbl_FeedBack_tbl_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[tbl_Tour] ([ID])
GO
ALTER TABLE [dbo].[tbl_FeedBack] CHECK CONSTRAINT [FK_tbl_FeedBack_tbl_Tour]
GO
ALTER TABLE [dbo].[tbl_FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_tbl_FeedBack_tbl_User] FOREIGN KEY([Username])
REFERENCES [dbo].[tbl_User] ([Username])
GO
ALTER TABLE [dbo].[tbl_FeedBack] CHECK CONSTRAINT [FK_tbl_FeedBack_tbl_User]
GO
ALTER TABLE [dbo].[tbl_Hotel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Hotel_tbl_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[tbl_City] ([CityID])
GO
ALTER TABLE [dbo].[tbl_Hotel] CHECK CONSTRAINT [FK_tbl_Hotel_tbl_City]
GO
ALTER TABLE [dbo].[tbl_Image]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Image_tbl_Tour1] FOREIGN KEY([TourID])
REFERENCES [dbo].[tbl_Tour] ([ID])
GO
ALTER TABLE [dbo].[tbl_Image] CHECK CONSTRAINT [FK_tbl_Image_tbl_Tour1]
GO
ALTER TABLE [dbo].[tbl_ImageHotel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ImageHotel_tbl_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[tbl_Hotel] ([ID])
GO
ALTER TABLE [dbo].[tbl_ImageHotel] CHECK CONSTRAINT [FK_tbl_ImageHotel_tbl_Hotel]
GO
ALTER TABLE [dbo].[tbl_Office]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Office_tbl_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[tbl_City] ([CityID])
GO
ALTER TABLE [dbo].[tbl_Office] CHECK CONSTRAINT [FK_tbl_Office_tbl_City]
GO
ALTER TABLE [dbo].[tbl_Passenger]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Passenger_tbl_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[tbl_Booking] ([BookingID])
GO
ALTER TABLE [dbo].[tbl_Passenger] CHECK CONSTRAINT [FK_tbl_Passenger_tbl_Booking]
GO
ALTER TABLE [dbo].[tbl_Region]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Region_tbl_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[tbl_Country] ([CountryID])
GO
ALTER TABLE [dbo].[tbl_Region] CHECK CONSTRAINT [FK_tbl_Region_tbl_Country]
GO
ALTER TABLE [dbo].[tbl_Tour]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tour_tbl_Category1] FOREIGN KEY([TravelTypeID])
REFERENCES [dbo].[tbl_Travel_Type] ([ID])
GO
ALTER TABLE [dbo].[tbl_Tour] CHECK CONSTRAINT [FK_tbl_Tour_tbl_Category1]
GO
ALTER TABLE [dbo].[tbl_Tour]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tour_tbl_City] FOREIGN KEY([fromPlace])
REFERENCES [dbo].[tbl_City] ([CityID])
GO
ALTER TABLE [dbo].[tbl_Tour] CHECK CONSTRAINT [FK_tbl_Tour_tbl_City]
GO
ALTER TABLE [dbo].[tbl_Tour]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tour_tbl_Flight] FOREIGN KEY([FlightID])
REFERENCES [dbo].[tbl_Flight] ([ID])
GO
ALTER TABLE [dbo].[tbl_Tour] CHECK CONSTRAINT [FK_tbl_Tour_tbl_Flight]
GO
ALTER TABLE [dbo].[tbl_Tour]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tour_tbl_TourGuide] FOREIGN KEY([TourGuideID])
REFERENCES [dbo].[tbl_TourGuide] ([TourGuideID])
GO
ALTER TABLE [dbo].[tbl_Tour] CHECK CONSTRAINT [FK_tbl_Tour_tbl_TourGuide]
GO
ALTER TABLE [dbo].[tbl_TourDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TourDetail_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[tbl_City] ([CityID])
GO
ALTER TABLE [dbo].[tbl_TourDetail] CHECK CONSTRAINT [FK_tbl_TourDetail_City]
GO
ALTER TABLE [dbo].[tbl_TourDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TourDetail_tbl_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[tbl_Tour] ([ID])
GO
ALTER TABLE [dbo].[tbl_TourDetail] CHECK CONSTRAINT [FK_tbl_TourDetail_tbl_Tour]
GO
ALTER TABLE [dbo].[tbl_TourHotel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TourHotel_tbl_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[tbl_Hotel] ([ID])
GO
ALTER TABLE [dbo].[tbl_TourHotel] CHECK CONSTRAINT [FK_tbl_TourHotel_tbl_Hotel]
GO
ALTER TABLE [dbo].[tbl_TourHotel]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TourHotel_tbl_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[tbl_Tour] ([ID])
GO
ALTER TABLE [dbo].[tbl_TourHotel] CHECK CONSTRAINT [FK_tbl_TourHotel_tbl_Tour]
GO
/****** Object:  StoredProcedure [dbo].[db_Get_All_Hotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[db_Get_All_Hotel]
as
begin
select * from tbl_Hotel where isDelete=0
end

GO
/****** Object:  StoredProcedure [dbo].[db_Get_City_By_CityID_From_tblHotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[db_Get_City_By_CityID_From_tblHotel](@CityID int)
as
begin
select * from tbl_City where CityID = @CityID
end

GO
/****** Object:  StoredProcedure [dbo].[db_Get_Image_By_HotelID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[db_Get_Image_By_HotelID](@ID int)
as
begin
select * from tbl_ImageHotel where HotelID=@ID
end

GO
/****** Object:  StoredProcedure [dbo].[db_Get_List_ComboBox_ToPlace]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[db_Get_List_ComboBox_ToPlace]
as
begin
select * from tbl_City where isDelete = 0
end

GO
/****** Object:  StoredProcedure [dbo].[db_Get_List_Convenient]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[db_Get_List_Convenient] (@ID int)
as
begin
select * from tbl_Convenient where ID = any (select ConvenientID from tbl_ConvenientHotel where HotelID=@ID) and isDelete=0
end


GO
/****** Object:  StoredProcedure [dbo].[db_Get_List_Hotel_Hot_Details]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[db_Get_List_Hotel_Hot_Details](@ID int) 
as
begin
select * from tbl_Hotel where isHot=1 and ID!= @ID and isDelete = 0;
end



GO
/****** Object:  StoredProcedure [dbo].[db_Get_List_Search_Hotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[db_Get_List_Search_Hotel](@CityID int,@Price float)
as
begin
select * from tbl_Hotel where CityID=@CityID and Price<=@Price and isDelete = 0
end







GO
/****** Object:  StoredProcedure [dbo].[db_Get_List_Search_Tour]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[db_Get_List_Search_Tour]
(@fromPlace int,
@toPlace int,
@timeBegin datetime,
@seatsRemaining int)

as
BEGIN
-- get List that user input fromPlace but don't inpur ToPlace
if(@toPlace=0 and @fromPlace >= 1)
Select * from tbl_Tour where fromPlace = @fromPlace  and TimeBegin >= @timeBegin  
and SeatsRemaining > @seatsRemaining and isDelete=0 order by TimeBegin desc


-- get List that user input full field
else 
Select * from tbl_Tour where fromPlace = @fromPlace 
and ID =  any(select TourID from tbl_TourDetail where CityID=@toPlace )
 and TimeBegin >= @timeBegin  
and SeatsRemaining > @seatsRemaining and isDelete=0 order by TimeBegin desc
END


GO
/****** Object:  StoredProcedure [dbo].[db_Update_User]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[db_Update_User](@username varchar(50),@FirstName nvarchar(50),@LastName nvarchar(500),@Email varchar(50),@PhoneNumber varchar(50))
as
begin
update tbl_User set FirstName=@FirstName,LastName=@LastName,Email=@Email,PhoneNumber=@PhoneNumber where Username = @username
end

GO
/****** Object:  StoredProcedure [dbo].[get_All_Tour_Current]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_All_Tour_Current]
as
select * from tbl_Tour where isDelete = 0





GO
/****** Object:  StoredProcedure [dbo].[get_List_Tour_Hot]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_List_Tour_Hot]
as
select * from tbl_Tour where isDelete = 0 and isHot = 1 Order By SeatsRemaining ASC 
GO
/****** Object:  StoredProcedure [dbo].[getAgeFrom0To18]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getAgeFrom0To18]
as
begin 
SELECT 
    *
  From tbl_User
  Where (CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) <18)
  end

GO
/****** Object:  StoredProcedure [dbo].[getAgeFrom18To40]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getAgeFrom18To40]
as
begin 
SELECT 
    *
  From tbl_User
  Where (CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) >=18 and CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) <40)
  end

GO
/****** Object:  StoredProcedure [dbo].[getAgeFrom40To60]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getAgeFrom40To60]
as
begin 
SELECT 
    *
  From tbl_User
  Where (CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) >40 and CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) <60)
  end

GO
/****** Object:  StoredProcedure [dbo].[getAgeFrom60To100]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getAgeFrom60To100]
as
begin 
SELECT 
    *
  From tbl_User
  Where (CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) >60 and CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) <100)
  end

GO
/****** Object:  StoredProcedure [dbo].[getChildrenOfUser]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getChildrenOfUser]
as
begin 
SELECT 
    COUNT(*)
  From tbl_User
  Where (CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) <18)
  end

GO
/****** Object:  StoredProcedure [dbo].[getJuvenileOfUser]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getJuvenileOfUser]
as
begin 
SELECT 
    COUNT(*)
  From tbl_User
  Where (CONVERT(int,ROUND(DATEDIFF(hour,Birthday,GETDATE())/8766.0,0)) <=16)
  end

GO
/****** Object:  StoredProcedure [dbo].[getListHotel]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getListHotel] 
as
select * from tbl_Hotel where isHot=1 and isDelete = 0;


GO
/****** Object:  StoredProcedure [dbo].[getTourByBrazil]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByBrazil]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'BRA') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByCanada]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByCanada]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'CAN') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByChina]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByChina]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'CHN') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByFrance]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByFrance]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'FRA') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByIreland]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByIreland]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'IRL') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByJapan]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByJapan]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'JPN') and isDelete =0)
end 

GO
/****** Object:  StoredProcedure [dbo].[getTourByKorea]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByKorea]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'KOR') and isDelete =0)
end 

GO
/****** Object:  StoredProcedure [dbo].[getTourByMalaysia]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByMalaysia]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'MYS') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByPhilippines]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByPhilippines]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'PHL') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByRussia]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByRussia]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'RUS') and isDelete =0)
end

GO
/****** Object:  StoredProcedure [dbo].[getTourByUnitedStates]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByUnitedStates]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'USA') and isDelete =0)
end 

GO
/****** Object:  StoredProcedure [dbo].[getTourByVietNam]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getTourByVietNam]
as
begin 
select * from tbl_Tour where fromPlace = Any(select CityID from tbl_City where RegionID = Any(Select ID from tbl_Region where CountryID = 'VNM') and isDelete =0) and FlightID is Not Null
end 

GO
/****** Object:  StoredProcedure [dbo].[getYearOfUser]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getYearOfUser]
as
begin 
  select YEAR(Birthday)
from tbl_User
  end

GO
/****** Object:  StoredProcedure [dbo].[Load_Image_Tour_Search]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Load_Image_Tour_Search] 
@TourID varchar(50)
as
BEGIN
select * from tbl_Image where TourID=@TourID and isDelete = 0
END



GO
/****** Object:  StoredProcedure [dbo].[load_img_hotel_by_HotelID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[load_img_hotel_by_HotelID](@ID int)
as

select * from tbl_ImageHotel where HotelID =  @ID and isDelete = 0




GO
/****** Object:  StoredProcedure [dbo].[loadImgByTourId]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[loadImgByTourId](@TourID varchar(50))
as
select * from tbl_Image where TourID =  @TourID and isDelete = 0




GO
/****** Object:  StoredProcedure [dbo].[sp_get_City_ByRegionID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_get_City_ByRegionID] @RegionID int
as 
select * from tbl_City where isDelete = 0 and RegionID = @RegionID


GO
/****** Object:  StoredProcedure [dbo].[sp_Get_City_Have_Office]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_Get_City_Have_Office]
as
select * from tbl_City where CityID = any( select Distinct(CityID) from tbl_Office)

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Metadata]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_get_Metadata]
as
select * from tbl_Metadata where isDelete = 0;


GO
/****** Object:  StoredProcedure [dbo].[sp_get_Office_ByCityID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_get_Office_ByCityID] @CityID int
as 
select * from tbl_Office where isDelete = 0 and CityID = @CityID


GO
/****** Object:  StoredProcedure [dbo].[sp_get_Office_ByID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_get_Office_ByID] @ID int
as 
select * from tbl_Office where isDelete = 0 and ID = @ID


GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Seats]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_Update_Seats] (@Seat int,@ID varchar(50)) 
as
Update tbl_Tour set SeatsRemaining = SeatsRemaining - @Seat Where ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[spGet_All_Main_Office_In_Center_VietNam]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGet_All_Main_Office_In_Center_VietNam]
as
select * from tbl_Office where CityID = Any (Select CityID from tbl_City where RegionID = any(Select ID  from tbl_Region where CountryID = 'VNM' and Name = N'Miền Trung')) and isDelete = 0


GO
/****** Object:  StoredProcedure [dbo].[spGet_All_Main_Office_In_North_VietNam]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGet_All_Main_Office_In_North_VietNam]
as
select * from tbl_Office where CityID = Any (Select CityID from tbl_City where RegionID = any(Select ID  from tbl_Region where CountryID = 'VNM' and Name = N'Miền Bắc')) and isDelete = 0


GO
/****** Object:  StoredProcedure [dbo].[spGet_All_Main_Office_In_South_VietNam]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGet_All_Main_Office_In_South_VietNam]
as
select * from tbl_Office where CityID = Any (Select CityID from tbl_City where RegionID = any(Select ID  from tbl_Region where CountryID = 'VNM' and Name = N'Miền Nam')) and isDelete = 0


GO
/****** Object:  StoredProcedure [dbo].[spGet_All_Main_Office_In_VietNam]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGet_All_Main_Office_In_VietNam]
as
select * from tbl_Office where CityID = Any (Select CityID from tbl_City where RegionID = any(Select ID  from tbl_Region where CountryID = 'VNM')) and isDelete = 0 and IsOfficeMain = 1


GO
/****** Object:  StoredProcedure [dbo].[spGet_All_Office_In_VietNam]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spGet_All_Office_In_VietNam]
as
select * from tbl_Office where CityID = Any (Select CityID from tbl_City where RegionID = any(Select ID  from tbl_Region where CountryID = 'VNM')) and isDelete = 0


GO
/****** Object:  StoredProcedure [dbo].[spGet_FeedBack_By_TourID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spGet_FeedBack_By_TourID] ( @tourID varchar(50))
as
Select * from tbl_FeedBack 
Where (TourID = @tourID and isDelete = 0) and (ReplyTo IS NULL)


GO
/****** Object:  StoredProcedure [dbo].[spGet_Hotel_by_Tour_ID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGet_Hotel_by_Tour_ID] @ID varchar(50)
as
Select * from tbl_Hotel where ID = ANY (Select HotelID  from tbl_TourHotel where TourID = @ID) and isDelete = 0


GO
/****** Object:  StoredProcedure [dbo].[spGet_Reply_By_FeedBackID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[spGet_Reply_By_FeedBackID] ( @ID varchar(50))
as
Select * from tbl_FeedBack 
Where ReplyTO = @ID and isDelete = 0 Order by DateCreate ASC


GO
/****** Object:  StoredProcedure [dbo].[spGet_Tour_byID]    Script Date: 3/24/2019 11:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGet_Tour_byID] @ID varchar(50)
as
Select * from tbl_Tour where ID = @ID and isDelete = 0


GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GroupUpPlace To go' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_Tour', @level2type=N'COLUMN',@level2name=N'GroupUpPlace'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'To Planning' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_Tour', @level2type=N'COLUMN',@level2name=N'MeetingPlace'
GO
USE [master]
GO
