
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="bg-image" class="hero-wrap js-fullheight" style="background-image: url('/Assets/images/bgFull.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate mb-5 pb-5 text-center " data-scrollax=" properties: { translateY: '70%' }">
                <h1 style="color:black"> @ViewBag.Message</h1>
            </div>
        </div>
    </div>
</div>
