<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9ded7123-c1d3-47fd-9bab-c94cb86ce405/resourceGroups/Luona/providers/Microsoft.Web/sites/Luona</ResourceId>
    <ResourceGroup>Luona</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://luona.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>luona.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Luona</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Luona</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LounaTravelDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=luona.database.windows.net;Initial Catalog=LuonaDB;Persist Security Info=True;User ID=thienprovip;Password=1qazxsw@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LounaTravel.EntityFramework.LounaTravelDbContext, LounaTravel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LounaTravelDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/EntityFramework.LounaTravelDbContext.csdl|res://*/EntityFramework.LounaTravelDbContext.ssdl|res://*/EntityFramework.LounaTravelDbContext.msl;provider=System.Data.SqlClient;provider connection string="Data Source=luona.database.windows.net;Initial Catalog=LuonaDB;Persist Security Info=True;User ID=thienprovip;Password=1qazxsw@"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>